* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 20px;
}
a:hover {
    color: #3882f6;
}
ul {
    list-style-type: none;
}
.navbar, .header {
    background-color: #1f2937;
    color: #fff;
}
.navbar .container {   
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 45px;
    padding-top: 12px;
}
.logo {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}
.nav {
    display: flex;
    gap: 16px;
}

.header .container {
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
    
}
.header .container .text .heading {
    max-width: 390px;
    padding-bottom: 10px;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.header .container .text {
    max-width: 440px;
    font-size: 18px;
    color:#e5e7eb;
}
.sbutton {
    margin-top: 5px;
    padding:5px;
    border-radius: 10px;
    height: 15%;
    width:30%;
    color:#f9faf8;
    background-color: #3882f6;
    font-weight: bold;
}
.image {
    width: 350px;
    height: auto;
    border-color: #5b9aff;
}
img {
    width: 200px;
    height:200px;
    border-style: solid;
    border-color: #003988;
    
}
.main .container .heading {
    font-weight: 800;
    text-align: center;
    padding: 28px 0px;
    font-size: 36px; 
}
.info {
    display: flex;
    justify-content: space-evenly;
    padding: 12px 0px;
    padding-bottom: 150px;
}
.info p {
    max-width: 210px;
    color:#1b1818;
    padding-top: 8px;
}
.quote {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    align-items: center;
    padding: 100px 100px;
    font-size: 42px;
    font-weight: 300;
    color: #1f2937;
    background-color: #e5e7eb;
    font-style: italic;
}
.author {
    align-self:flex-end;
    padding-right: 200px;
    padding-top: 50px;
    font-size: 32px;
    font-weight: bold;
}
.quote .text {
    max-width: 1000px;
}

.action {
    display:flex;
    margin: 100px 500px;
    padding: 50px 0px;
    justify-content: space-evenly;
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
}
.button {
    border-radius: 10px;
    color:#f9faf8;
    width: 15%;
    border-color: #f9faf8;
    background-color: #3882f6;
    font-weight: bold;
}
.action .text h3 {
    color:#f9faf8;
    font-size: 24px;
}
footer {
    background-color: #1f2937;
    color:#f9faf8;
    text-align: center;
    padding: 30px 0px;
}